@import "tailwindcss";
@source "../../";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cream: #fcf5df;
  --color-green: #4affd7;
  --color-orange: #d99d00;
  --color-gray: #7e7b71;
  --color-chino: #ccc3a6;
  --color-gold: #fcb913;
  --color-emperor: #535353;
  --color-blue: #0957c3;
  --color-crimson: #d91a17;
  --color-choco: #d6a461;
  --color-violet: #9b59ff;
  --color-pink: #ff3d81;
  --color-chocolate: #201405;
  --color-grey: #7a8fa0;

  --color-primary: var(--color-gold);
  --color-primary-foreground: 0 0% 0%;
}

/* Dynamic theme colors */
[data-theme="teal"] {
  --color-primary: #14b8a6;
  --color-primary-foreground: 0 0% 0%;
}

[data-theme="gold"] {
  --color-primary: var(--color-gold);
  --color-primary-foreground: 0 0% 0%;
}

[data-theme="blue"] {
  --color-primary: var(--color-blue);
  --color-primary-foreground: 240 7% 94%;
}

[data-theme="crimson"] {
  --color-primary: var(--color-crimson);
  --color-primary-foreground: 240 7% 94%;
}

[data-theme="grey"] {
  --color-primary: var(--color-grey);
  --color-primary-foreground: 0 0% 0%;
}

[data-theme="violet"] {
  --color-primary: var(--color-violet);
  --color-primary-foreground: 240 7% 94%;
}

[data-theme="coffee"] {
  --color-primary: var(--color-choco);
  --color-primary-foreground: 0 0% 0%;
}

.primary {
  font-family: var(--font-teko);
}

.secondary {
  font-family: var(--font-jost);
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
  .title {
    @apply text-gold dark:text-cream;
  }

  input,
  select,
  textarea {
    @apply border text-xs lg:text-sm border-white/10 px-3 lg:px-4 py-3 text-cream/80 bg-black/30 placeholder:text-cream/40 rounded-xl outline-none duration-300 w-full;
    font-family: var(--font-jost);
  }

  .page-wrapper {
    @apply w-full bg-black px-3 pt-17 pb-19 sm:px-4;
  }
}

@layer base {
  label {
    @apply text-[10px] lg:text-sm text-cream;
    font-family: var(--font-jost);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.inverted {
  clip-path: path(
    "M0,0H180A0,0 0,0,1 180,0V0A0,0 0,0,1 180,0H150A30,30 0,0,0 120,30V30A26,26 0,0,1 94,56H0A0,0 0,0,1 0,56V0A0,0 0,0,1 0,0Z"
  );
  width: 180px;
  height: 56px;
  aspect-ratio: 45 / 14;
}

.inverted-left {
  clip-path: path(
    "M0,0H180A0,0 0,0,1 180,0V56A0,0 0,0,1 180,56H80A20,20 0,0,1 60,36V26A26,26 0,0,0 34,0H0A0,0 0,0,1 0,0V0A0,0 0,0,1 0,0Z"
  );
  width: 180px;
  height: 56px;
  aspect-ratio: 45 / 14;
}
