@import "tailwindcss";
@source "../../";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cream: #fcf5df;
  --color-green: #4affd7;
  --color-orange: #d99d00;
  --color-gray: #7e7b71;
  --color-chino: #ccc3a6;
  --color-gold: #fcb913;
  --color-emperor: #535353;
  --color-blue: #0957c3;
  --color-crimson: #d91a17;
  --color-choco: #d6a461;
  --color-violet: #9b59ff;
  --color-pink: #ff3d81;
  --color-chocolate: #201405;
}

.primary {
  font-family: var(--font-teko);
}

.secondary {
  font-family: var(--font-jost);
}

@layer utilities {
  .center {
    @apply flex items-center justify-center;
  }
  .title {
    @apply text-gold dark:text-cream;
  }

  input,
  select,
  textarea {
    @apply border text-xs lg:text-sm border-teal-500/15 px-3 lg:px-4 py-3 text-cream/80 bg-black/30 placeholder:text-cream/40 rounded-xl outline-none focus:border-teal-500/60 duration-300 focus:ring-2 focus:ring-teal-400/20 w-full;
    font-family: var(--font-jost);
  }
}

@layer base {
  label {
    @apply text-[10px] lg:text-sm text-cream;
    font-family: var(--font-jost);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
